#feedtitle{
position: absolute;
margin-left: 156px;
font-size: 30px;
color: #9E6A55;
}

#feed1{
position: absolute;
margin-top: 61px;
margin-left: 52px;
}

#hrBreak1{
position: absolute;
width: 36%;
margin-left: 130px;
height: 3px;
border-width: 0;
background-color: #9E6A55;
margin-top: 43px;
z-index: -1;
}

#hrBreak2{
position: absolute;
width: 38%;
margin-left: 729px;
height: 3px;
border-width: 0;
background-color: #9E6A55;
margin-top: 43px;
z-index: -1;
}

#feed2{
position: absolute;
margin-top: 164px;
margin-left: 52px;
}

#feed3{
position: absolute;
margin-top: 266px;
margin-left: 52px;
}

#feed4{
position: absolute;
margin-top: 375px;
margin-left: 52px;
}

#dir1{
position: absolute;
margin-top: 102px;
margin-left: 195px;
width: 34%;
font-size: 20px;
text-align: justify;
}

#dir2{
position: absolute;
margin-top: 205px;
margin-left: 195px;
width: 34%;
font-size: 20px;
text-align: justify;
}

#dir3{
position: absolute;
margin-top: 348px;
margin-left: 195px;
width: 34%;
font-size: 20px;
text-align: justify;
}

#tips{
position: absolute;
margin-top: 61px;
margin-left: 702px;
width: 42%;
}

#tips li{
margin-bottom:8px;
}

#tipstitle{
position: absolute;
margin-left: 768px;
font-size: 30px;
color: #9E6A55;
}
