#copy{
position:absolute;
margin-left:16%;
margin-top:10%;
font-size:20px;
}

#twit{
position: absolute;
margin-left: 32%;
margin-top: 17%;
}

#fb{
position: absolute;
margin-left: 58%;
margin-top: 20%;
}

#blog{
position: absolute;
margin-left: 72%;
margin-top: 48%;
}

#gplus{
position: absolute;
margin-left: 44%;
margin-top: 47%;
}

#pinit{
position: absolute;
margin-left: 18%;
margin-top: 44%;
}
