#copy{
font-size: 18px;
position: fixed;
margin-left: 47%;
margin-top: 26%;
text-align: justify;
width: 46%;
z-index: 1;
}

#title{
position: fixed;
color: #BF1900;
font-weight: bolder;
margin-left: 30%;
font-size: 24px;
margin-top:5px;
z-index: 1;
}

#video{
position: fixed;
margin-left: 5%;
margin-top: 28%;
width: 35%;
height:44%;
z-index: 1;
}

#homeImage{
position: fixed;
width: 53%;
height: 25%;
margin-left: 23%;
margin-top: -4%;
}
